.ItemDetailContainer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.ItemDetailContainer .CardItem{
    width: 70vh;
}

.ItemDetailContainer .CardItem img{
    max-width: 35vh;
}