.form-container {
    background-color: #F0F0F0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    font-family: 'Merriweather', serif;
    padding: 40px;
    max-width: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.form-title {
    font-size: 1.6rem;
    color: #2A3D2B;
    /* Color con buen contraste */
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.input-group {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    text-align: center;
}

.label {
    font-size: 1.1rem;
    font-weight: bold;
    color: #2A3D2B;
    /* Ajustado para mayor contraste */
    margin-bottom: 8px;
    display: block;
    text-align: left;
    /* Para que los títulos queden alineados a la izquierda */
}

.input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #4B7043;
    background-color: #E2E9E1;
    color: #4B7043;
    font-size: 1rem;
    transition: border 0.3s ease;
}

.input:focus {
    border-color: #2A3D2B;
    /* Mejor contraste */
    outline: none;
}

.btn-submit {
    background-color: #3A5A40;
    color: #FFF;
    border: none;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    max-width: 400px;
}

.btn-submit:hover {
    background-color: #2C493A;
    transform: scale(1.05);
}

.submit-btn {
    text-align: center;
}

.error-message {
    color: #FF6347;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}