.bg-body-tertiary{
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 2px 2px 5px #A3B18A;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 10px;
}

.ActiveOption {
    text-decoration: none;
    color: antiquewhite;
    background-color: #A3B18A;
    border-radius: 5px;
    padding: 8.5px 18px 8.5px 17px;
    font-size: 14px;
}

.kuta {
    text-decoration: none;
    font-size: 16px;
}

.cafe{
    color: #A3B18A;
}

.Option{
    text-decoration: none;
}

#DropDown{
    text-decoration: none;
    background-color:transparent;
    padding: 4px, 0px;
}

.dropdown-item:hover{
    background-color: #588157ce;
}