.navbar-custom {
    position: fixed;
    top: 15px;
    left: 26px;
    right: 26px;
    box-shadow: 4px 4px 15px 5px rgba(163, 177, 138, 0.6); /* Ajustado el brillo y el tamaño de la sombra */
    padding: 10px;
    border-radius: 10px;
    background-color: #212529;
}

.navbar-brand img {
    max-height: 60px;
}

body {
    padding-top: 100px;
}

.nav-option {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

.nav-option:hover {
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.active .nav-option {
    background-color: #A3B18A;
}

.dropdown-item-custom {
    text-decoration: none;
    background-color: transparent;
    color: white;
    padding-bottom: 6px;
}

.dropdown-item-custom:hover {
    background-color: #588157ce;
    color: white;
    transition: background-color 0.3s ease;
}

.dropdown-menu {
    background-color: #212529;
}

.dropdown-divider {
    background-color: white;
}