*{padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(19, 30, 41, 0.781);
}

.project{
    color: red;
}

.bg-body-tertiary{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 5px #3b030336;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
}

.HeaderContainer{
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    background-color: rgb(210, 231, 248);
    text-align: center;
    padding-top: 125px;
    padding-bottom: 125px;
    border-radius: 10px;
}